<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "icon" href = "https://raw.githubusercontent.com/fgonzaga25/BookMatch/main/static/images/headerLogo.png" 
        type = "image/x-icon">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/about.css') }} ">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
    </style>
    
</head>

<body>

    <header class="headerContainer">
        <div class="headerContainerLeft">
            <a href="index"><img id="headerLogo" src=" {{ url_for('static', filename='images/headerLogo.png') }} " alt="headerLogo"></a>
        </div>

        <navbar class="headerContainerRight">
            <a href="recommend"><button class="headerButtons">Recommend Me</button></a>
            
            <a href="about"><button class="headerButtons">About</button></a>
            
            <a href="contact"><button class="headerButtons">Contact</button></a>
        </navbar>
    </header>

    <section class="sectionContainer">
        <p class="sectionParagraph" id="paragraph1">
                Book Recommender é um site criado com a proposta de recomendar livros através da Recomendação por Filtragem Colaborativa de Item. O usuário insere o nome de seu livro desejado e, posteriormente,
            outros livros semelhantes serão recomendados.
            <br/>
                É possível também, utilizar um filtro na página principal para observar os livros de acordo com parâmetros pré-estabelecidos,
            como: 'melhores avaliados', 'mais avaliados', 'mais lidos', dentre outros.
        </p>
        <p class="sectionParagraph" id="paragraph2">
                Lembrando, esse é um trabalho acadêmico e todas as informações acerca dos livros, avaliações e usuários foram obtidas no site Kaggle, no seguinte link: 
            <a href="https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset" class="sectionLink" target="_blank">Book Recommender Dataset</a>.
            <br/>
                Caso queira descobrir mais informações a respeito do projeto e entender quais os critérios e princípios que norteiam as nossas recomendações,
            incentivamos ao leitor que acesse o nosso <a href="{{url_for('static', filename='paper/BookMatch _Sistema_de_Recomendação_de_Livros_Baseado_em_Filtragem_Colaborativa_por_Item.pdf')}}" class="sectionLink" target="_blank">Artigo Científico</a>.
        </p>
    </section>

    <footer id="footerClass">/Contact Us</footer>

</body>

</html>
