<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "icon" href = "https://raw.githubusercontent.com/n3lloc/PLP/main/frontend/headerLogo.png" 
        type = "image/x-icon">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/about.css') }} ">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
    </style>
    
</head>

<body>

    <header class="headerContainer">
        <div class="headerContainerLeft">
            <a href="index"><img id="headerLogo" src=" {{ url_for('static', filename='images/headerLogo.png') }} " alt="headerLogo"></a>
        </div>

        <navbar class="headerContainerRight">
            <a href="recommend"><button class="headerButtons">Recommend Me</button></a>
            
            <a href="about"><button class="headerButtons">About</button></a>
            
            <a href="contact"><button class="headerButtons">Contact</button></a>
        </navbar>
    </header>

    <section class="sectionContainer">
        <p class="sectionParagraph" id="paragraph1">Book Recommender é um site criado com a proposta de recomendar livros por similaridade. O usuário insere o nome de seu livro desejado e, posteriormente,
            outros livros semelhantes serão recomendados. É possível também, utilizar um filtro na página principal para observar os livros de acordo com parâmetros pré-estabelecidos,
            como: 'melhores avaliados'; 'mais avaliados'; 'mais lidos'; entre outros.
        </p>
        <p class="sectionParagraph" id="paragraph2">Lembrando, esse é um trabalho acadêmico e todas as informações acerca dos livros, avaliações e usuários foram obtidas no site Kaggle, no seguinte link: 
            <a href="https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset" id="sectionLink" style="color: #040608;" target="_blank">Book Recommender Dataset</a>
        </p>
    </section>

    <footer class="footerClass">/Contact Us</footer>

</body>

</html>
