<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel = "icon" href = "https://raw.githubusercontent.com/fgonzaga25/BookMatch/main/static/images/headerLogo.png" 
        type = "image/x-icon">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/contact.css') }} ">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
    </style>
    
</head>

<body>

    <header class="headerContainer">
        <div class="headerContainerLeft">
            <a href="index"><img id="headerLogo" src=" {{ url_for('static', filename='images/headerLogo.png') }} " alt="headerLogo"></a>
        </div>

        <navbar class="headerContainerRight">
            <a href="recommend"><button class="headerButtons">Recommend Me</button></a>
            
            <a href="about"><button class="headerButtons">About</button></a>
            
            <a href="contact"><button class="headerButtons">Contact</button></a>
        </navbar>
    </header>

    <section class="sectionInfo">

        <p id="sectionTitle">Desenvolvedores responsáveis pelo projeto:</p>

        <div class="divDevelopers">

        
            <div class="divAlecio">

                <p id="titleP">BackEnd</p>

                <img src="/static/images/alecio.png" alt="alecio-png" class="imgDevelopers">

                <div class="contactDevelopers">

                    <div class="emailDiv">
                            <img src="/static/images/email.png" alt="email-png" id="iconId">
                            aleciofvjunior@gmail.com
                    </div>

                    <div class="githubDiv">
                            <img src="/static/images/github.png" alt="github-png" id="iconId">
                            https://github.com/n3lloc
                    </div>

                </div>

            </div>

            <div class="divFernando">

                <p id="titleP">FrontEnd</p>

                <img src="/static/images/fernando.jpg" alt="fernando" class="imgDevelopers">

                <div class="contactDevelopers">

                    <div class="emailDiv">
                            <img src="/static/images/email.png" alt="email-png" id="iconId">
                            fernandooliv2107@gmail.com
                    </div>

                    <div class="githubDiv">
                        <img src="/static/images/github.png" alt="github-png" id="iconId">
                       https://github.com/fgonzaga25
                    </div>

                </div>

            </div>

        </div>

    </section>

    <footer class="footerClass">/Contact Us</footer>

</body>

</html>
